@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary-gold: #D4AF37;      
  --secondary-muted: #BDB76B;    
  --accent-bronze: #CE8946;      
  --bg-cream: #FDFBD4;        


  --background: var(--bg-cream);
  --foreground: #2D2D2D;     
  
  --card-bg: #ffffff;     
  --text-muted: #5A5A5A;
 
  --btn-primary: var(--accent-bronze);
  --btn-primary-hover: #b5763a;
  
  --btn-secondary: var(--primary-gold);
  --btn-secondary-hover: #bf9b2e;

  --border-color: #e2dfb4;
  --nav-bg: var(--secondary-muted);
}

body{

  margin: 0;
  padding: 0;
}

